/* hero */
#hero{
    object-fit: cover;
}

.profile #hero{
    max-width: max-content;
}

/* main */
main{
    margin: 0 auto;
    background-color: darkslategray;
    color: white;
}

/* Heading */
h1 {
    font-family: 'Ubuntu', sans-serif;
    padding : 50px;
    text-align: center;
}

h2{
    font-family: 'Merriweather', serif;
    text-align: center;
    padding : 20px;
}

/* profile */
.profile{
    display: flex;
    justify-content: center;
}

.profile-text p{
    max-width: 500px;
}

/* content */
.content{
    display: flex;
}

.content div{
    width: 33%;
}
