.main-container{
    margin : auto;
    color : white;
    background-color: darkgoldenrod;
}

.profile{
    
}

.lists{
    
}

p{
    font-size : 20;
}

h1 {
    border : 3px groove black;
    
}

.button-container{
    
}
